// APP HEADER
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 72px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

  &__logo {
    margin: 1.2rem 0;
    margin-left: 1rem;
    @include subHeadingText();

    @include tablet() {
      margin-left: 0;
    }
  }

  &__logo-link {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__nav {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;

    @include tablet() {
      margin-right: 0;
    }

    &--list {
      display: flex;
    }

    &--button {
      @extend .button;
      display: inline-block;
      text-align: center;
      width: 100px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;

      &--upload {
        @extend .button--primary;
      }

      &--signup {
        @extend .button--secondary;
      }

      &--login {
        @extend .button--primary;
      }

      &--signout {
        @extend .button--secondary;
      }
    }
  }
}
