// BASE
html,
body {
  margin: 0;
  font-family: $font-main;
  letter-spacing: 0.05rem;
}

body {
  padding-top: 72px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.button--primary {
  border: none;
  background: #000;
  color: #fff;
  font-family: $font-main;
  outline: none;

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}
