// BASE
html,
body {
  margin: 0;
  font-family: $font-main;
  letter-spacing: 0.05rem;
}

body {
  padding-top: 62px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.button--primary {
  border: none;
  background: #000;
  color: #fff;
  font-family: $font-main;
  outline: none;

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}

.input-text-field {
  padding-bottom: 1px;
  padding-left: 4px;
  border: none;
  border-bottom: 1px solid $text-field-border;
  outline: none;
  font-family: $font-main;
  @include paragraphText();

  &:focus {
    padding-bottom: 0;
    border-bottom: 2px solid #000;
  }
}
