// VARIABLES
// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1080px;
$lg-desktop-breakpoint: 1440px;

// fonts
$font-main: "Roboto Condensed", sans-serif;
$font-script: "Euphoria Script", cursive;

// colors
$heart-color: #fb3958;
$highlight-color: #27ae60;
$text-field-border: #e1e1e1;
