// VARIABLES
// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1080px;
$lg-desktop-breakpoint: 1440px;

// fonts
$font-main: "Roboto Condensed", sans-serif;

// MIXINS
// font size
@mixin setFontSizeLineHeight($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin headerText() {
  @include setFontSizeLineHeight(1.5rem, 2rem);
  @include tablet() {
    @include setFontSizeLineHeight(2.25rem, 2.75rem);
  }
}

@mixin subHeaderText() {
  @include setFontSizeLineHeight(0.875rem, 1.375rem);
  @include tablet() {
    @include setFontSizeLineHeight(1rem, 1.5rem);
  }
}

@mixin paragraphText() {
  @include setFontSizeLineHeight(0.8125rem, 1.125rem);
  @include tablet() {
    @include setFontSizeLineHeight(0.875rem, 1.375rem);
  }
}

@mixin labelText() {
  @include setFontSizeLineHeight(0.75rem, 1.25rem);
}

// screen size
@mixin tablet() {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin lg-desktop() {
  @media screen and (min-width: $lg-desktop-breakpoint) {
    @content;
  }
}

// RESET
*,
*:before,
*:after {
  box-sizing: border-box;
}

// BASE
body,
html {
  margin: 0;
  font-family: $font-main;
  letter-spacing: 0.05rem;
}

ul {
  padding: 0;
  list-style: none;
}

// CONTAINERS
.container {
  margin: 0 auto;
  width: 288px;

  @include tablet() {
    width: 720px;
  }

  @include desktop() {
    width: 1016px;
  }

  @include lg-desktop() {
    width: 1080px;
  }

  &--fluid {
    margin: 0;
    width: auto;

    @include tablet() {
      margin: 0 24px;
    }

    @include lg-desktop() {
      margin: 0 72px;
    }
  }
}

// CATALOG
.catalog {
  display: flex;
  flex-direction: column;

  @include tablet() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include lg-desktop() {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__item {
    position: relative;
    height: 93.75vw;

    @include tablet() {
      height: 33vw;
    }

    @include desktop() {
      height: 25vw;
    }

    @include lg-desktop() {
      height: 16vw;
    }
  }
}

.overlay {
  display: flex;
  align-items: flex-end;

  @include tablet() {
    border-radius: 8px;
  }

  @include desktop() {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.3));
  }
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include tablet() {
    border-radius: 8px;
  }

  &:hover .overlay {
    display: flex;
  }

  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 85%;
    border-radius: inherit;

    @include desktop() {
      height: 100%;
    }
  }

  &__text {
    @include desktop() {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &--title {
      margin: 0.5rem;
      font-weight: 700;
      color: #000;
      @include subHeaderText();

      @include desktop() {
        margin: 1rem;
        color: #fff;
      }
    }
  }
}
