// VARIABLES
// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1080px;
$lg-desktop-breakpoint: 1440px;

// fonts
$font-main: "Roboto Condensed", sans-serif;

// colors
$heart-color: #fb3958;
$highlight-color: #27ae60;

// MIXINS
// font size
@mixin setFontSizeLineHeight($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin heroHeadingText() {
  @include setFontSizeLineHeight(2.85rem, 3rem);
  @include tablet() {
    @include setFontSizeLineHeight(3.75rem, 4.25rem);
  }
}

@mixin headingText() {
  @include setFontSizeLineHeight(1.5rem, 2rem);
  @include tablet() {
    @include setFontSizeLineHeight(2.25rem, 2.75rem);
  }
}

@mixin subHeadingText() {
  @include setFontSizeLineHeight(0.875rem, 1.375rem);
  @include tablet() {
    @include setFontSizeLineHeight(1rem, 1.5rem);
  }
}

@mixin paragraphText() {
  @include setFontSizeLineHeight(0.8125rem, 1.125rem);
  @include tablet() {
    @include setFontSizeLineHeight(0.875rem, 1.375rem);
  }
}

@mixin labelText() {
  @include setFontSizeLineHeight(0.75rem, 1.25rem);
}

// screen size
@mixin tablet() {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin lg-desktop() {
  @media screen and (min-width: $lg-desktop-breakpoint) {
    @content;
  }
}

@import "./partials/reset";
@import "./partials/base";
@import "./partials/containers";
@import "./partials/app-header";
@import "./partials/hero";
@import "./partials/catalog";
@import "./partials/details-modal";
