*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.05rem;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 288px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 1016px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1080px;
  }
}

.container--fluid {
  margin: 0;
  width: auto;
}

@media screen and (min-width: 768px) {
  .container--fluid {
    margin: 0 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container--fluid {
    margin: 0 72px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.app-header__logo {
  margin: 1.2rem 0;
  margin-left: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@media screen and (min-width: 768px) {
  .app-header__logo {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .app-header__logo {
    margin-left: 0;
  }
}

.app-header__nav {
  margin-left: auto;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .app-header__nav {
    margin-right: 0;
  }
}

.app-header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .catalog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

@media screen and (min-width: 1080px) {
  .catalog {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .catalog {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.catalog__item {
  position: relative;
  height: 93.75vw;
}

@media screen and (min-width: 768px) {
  .catalog__item {
    height: 33vw;
  }
}

@media screen and (min-width: 1080px) {
  .catalog__item {
    height: 25vw;
  }
}

@media screen and (min-width: 1440px) {
  .catalog__item {
    height: 16vw;
  }
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .overlay {
    border-radius: 8px;
  }
}

@media screen and (min-width: 1080px) {
  .overlay {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), to(rgba(0, 0, 0, 0.3)));
    background: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.3));
  }
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .card {
    border-radius: 8px;
  }
}

.card:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 85%;
  border-radius: inherit;
}

@media screen and (min-width: 1080px) {
  .card__img {
    height: 100%;
  }
}

@media screen and (min-width: 1080px) {
  .card__text {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.card__text--title {
  margin: 0.5rem;
  margin-left: 1rem;
  font-weight: 700;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@media screen and (min-width: 768px) {
  .card__text--title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .card__text--title {
    margin-left: 0;
  }
}

@media screen and (min-width: 1080px) {
  .card__text--title {
    margin: 1rem;
    color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */